# Default values for rapp-nasp.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: zanattabruno/rapp_nasp
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "0.1"

service:
  type: ClusterIP
  port: 80


resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

app:
  logging:
    level: DEBUG # Logging level
  nonrtric:
    base_url_rApp_catalogue: 'http://rappcatalogueservice.nonrtric.svc.cluster.local:9085/services'
    base_url_pms: 'http://nonrtricgateway.nonrtric.svc.cluster.local:9090/a1-policy/v2'
    service_name: 'rAppNASP'
    service_version: 'v1'
    service_display_name: 'rApp NASP'
    service_description: 'Application for optimizing network slicing'
    ric_id: 'ric4'
    policytype_id: 1
  api_server:
    host: '0.0.0.0'  # Host address for the API server
    port: 5000       # Port number for the API server